// reset style sheet do not import variables or any such thing this should remain raw CSS

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

// The em unit is relative to the font-size of the parent, which causes the compounding issue.
// The rem unit is relative to the root—or the html—element.
// That means that we can define a single font size on the html element and define all rem units to be a percentage of that.
// html { font-size: 62.5%; } 
// body { font-size: 1.4rem; } /* =14px */
// h1   { font-size: 2.4rem; } /* =24px */
html {
  box-sizing: border-box;
  font-size:62.5%;
}

// applying box sizing to every element inheriting from HTML
// using this technique from CSS tricks https://css-tricks.com/box-sizing/
*, *:before, *:after {
  box-sizing: inherit;
}

// This reverts the default font size to 16px
body{
  font-size:1.6rem;
  overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

// removed bullets from ul and li items if used as navigation elements
nav ul,
menu li {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  color:inherit;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
}

// change border colour to suit your needs
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid lightgrey;
  margin:1rem 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}
